<div class="container">
  <div class="generator-container">
    <div class="password-preview-container">
      <h1>{{ randomPassword }}</h1>
      <div style="font-size: 27px; display: flex">
        <mat-icon
          style="margin-right: 10px; cursor: pointer"
          (click)="copyPassword()"
          >{{copyIcon ? 'check':'content_copy'}}</mat-icon
        >
        <mat-icon
          role="button"
          (click)="generatePassword()"
          style="cursor: pointer"
          >autorenew</mat-icon
        >
      </div>
    </div>
    <div class="customize-password-container">
      <h2 style="margin-bottom: 0px">Customize your password</h2>
      <hr style="background-color: rgb(173, 172, 172)" />
      <div class="customize-password">
        <div style="display: flex; flex-direction: column">
          <label for="passwordLength" style="font-size: 14px"
            >Password Length</label
          >
          <input
            type="number"
            placeholder="Enter Length"
            [(ngModel)]="passwordLength"
            min="6"
            max="30"
            style="width: 50%; margin-top: 10px; margin-bottom: 10px;"
            (change)="generatePassword()"
            (tab)="generatePassword()"
            (keydown)="preventNegative($event)"
          />
          <mat-slider min="6" max="30" step="1" color="accent" class="custom-slider" >
            <input matSliderThumb [(ngModel)]="passwordLength" (input)="generatePassword()" />
          </mat-slider>
        </div>
         
        <div class="checkbox-container">
          <div class="checkbox">
            <input
              type="checkbox"
              [(ngModel)]="characterSets.alphabet"
              id="alphabet"
              (change)="generatePassword()"
            />
            <label for="alphabet">Alphabets</label>
          </div>
          <div class="checkbox">
            <input
              type="checkbox"
              [(ngModel)]="characterSets.numbers"
              id="numbers"
              (change)="generatePassword()"
            />
            <label for="numbers">Numbers</label>
          </div>
          <div class="checkbox">
            <input
              type="checkbox"
              [(ngModel)]="characterSets.specialCharacters"
              id="specialCharacters"
              (change)="generatePassword()"
            />
            <label for="specialCharacters">Symbols</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet />
